h2 {
    font-family: 'Georgia', serif;
}

#titulo-receta {
    background-color: orange;   
    color: white;                
    padding: 10px;
    text-align: center;
    border-radius: 8px;
}

.ingrediente-principal {
    font-weight: bold;
}

.paso-importante {
    background-color: yellow;  
    padding: 5px;
    border-radius: 5px;
}

div.ingredientes li {
    color: green;  
}

div.pasos li {
    color: darkorange;  
}

body {
    font-family: Arial, sans-serif;
    margin: 40px;
    background-color: wheat;
    color: #333;
}

a {
    display: inline-block;
    margin: 10px 0;
    padding: 10px 20px;
    background-color: blue;
    color: white;
    font-weight: bold;
    text-decoration: none;
    border-radius: 8px;
    box-shadow: 2px 2px 6px rgba(0,0,0,0.2);
    transition: all 0.3s ease;
}